.inActive {
  background-color: grey;
}

.activeNormal {
  background-color: green;
}

.activeDanger {
  background-color: red;
}

.card {
  margin: 10px;
  border: 1px solid black;
  width: fit-content; 
  float: left;
  display: inline-flex;
  justify-content: center;
}
