<p>sensor-status works!</p>
<button (click)="printData()">click me</button>

<div *ngFor="let sensor of sensor">
  <table
    style="border: 2px solid; margin-bottom: 10px; background-color: darkgray;"
  >
    <tr>
      <td>Is Active:</td>
      <td>{{ sensor.isActive }}</td>
    </tr>
    <tr>
      <td>Location:</td>
      <td>
        <table>
          <tr>
            <td>Room No:</td>
            <td>{{ sensor.location.roomNo }}</td>
          </tr>
          <tr>
            <td>Floor:</td>
            <td>{{ sensor.location.floor }}</td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td>Smoke Level:</td>
      <td>{{ sensor.smokeLevel }}</td>
    </tr>
    <tr>
      <td>CO2 Level:</td>
      <td>{{ sensor.co2Level }}</td>
    </tr>
  </table>
</div>
